@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.two-container{
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
  margin: 10px;
  border-radius: 10px;
  background: rgb(0,0,0);
  background: linear-gradient(344deg, rgb(0,0,0) 0%, rgba(40,146,215,0.8) 100%);
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.two-container::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.2);
}

.two-container::-webkit-scrollbar{
  background-color: black;
  width: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*---------------------*/

.two-home{
  height: 250px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 8px;
  color: white;
}

.two-toptext{
  font-size: 12px;
  margin-left: 10px;
  padding-top: 6px;
  font-weight: 300;
}

.two-toptitle{
  font-size: 40px;
  margin-top: 80px;
  font-weight: bold;
  margin-left: -2px;
}
  
  /*---------------------*/

.weather-container{
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  height: 250px;
  color: white;
}  

.weather{
  border: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: transparent;
  backdrop-filter: blur(10px);
}

.weather > img{
  margin-top: 25px;
}

.weather-date{
  margin-top: 5px;
}

.weather-temp{
  height: fit-content;
  margin-top: 65px;
}

.weather-temprange{
  margin-top: 0px;
}


