.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    z-index: 100;
    background-color: white;
    z-index: 150;
    padding-top: 5px;
}

.sidebar-link{
    background-color: white;
    height: 74px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sidebar-link img{
    height: 25px;
    padding-bottom: 5px;
}

.sidebar-link div{
    font-family: Roboto;
    font-size: 10px;
}