.App{
  display: flex;
}


.navbar{
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 30px;
  background-color: rgb(0, 0, 0);
  width: min-content;
  height: 94.9vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.navbar > div{
  padding-bottom: 10px;
}

.nav-border{
  background-color: rgba(255, 255, 255, 0.05);
  height: 90vh;
  border-radius: 10px;
  padding: 5px;
}

.nav-border-top{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.nav-border-top:hover{
  cursor: pointer;
}

.main{
  display: inline-block;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 100vh;
}

.one-home{
  background: rgb(95,15,180);
  background: linear-gradient(145deg, rgb(95, 15, 180) 0%, rgb(85, 221, 224) 92%);
  height: 250px;
  margin: 10px;
  border-radius: 10px;
}

.one-toptext{
  font-size: 12px;
}

.one-toptitle{
  font-size: 40px;
  margin-top: 80px;
  font-weight: bold;
  margin-left: -2px;
}

.two-home{
  background: rgb(119,0,255);
  background: linear-gradient(115deg, rgb(81, 0, 173) 0%, rgb(243, 175, 255) 92%);
  height: 250px;
  margin: 10px;
  border-radius: 10px;
}

.three-home{
  background: rgb(119,0,255);
  background: linear-gradient(85deg, rgb(81, 0, 173) 0%, rgb(243, 175, 255) 92%);
  height: 250px;
  margin: 10px;
  border-radius: 10px;
}

.nasa-contain{
  height: 250px;
  display: flex;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.nasatext{
  margin-left: 10px;
  font-size: 85%;
  mix-blend-mode: difference;
  color: white;
  width: 600px;
  padding-bottom: 5px;
}

.nasatitle{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.video{
  display: block;
  width: 100px;
  aspect-ratio: 1/2;
  display: flex;
  width: 50%;
  padding-left: 20px;
  justify-content: right;
  border-radius: 10px;
}

.flex-grid{
  display: flex;
  height: 100px;
  gap: 10px;
  margin-bottom: 20px;
}

.flex-grid > div{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.flex-grid-one{
  background-color: rgb(26, 26, 26);
}

.flex-grid-two{
  background-color: rgb(95, 15, 180);
}

.flex-grid-three{
  background-color: rgb(40, 146, 215);
}

.flex-grid-four{
  background-color: rgb(85, 221, 224);
}

.flex-grid-five{
  background-color: rgb(238 ,240 ,242);
}

.weather-container{
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 10px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  height: 250px;
}

.weather{
  border: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather > img{
  margin-top: 15px;
}

.weather-date{
  margin-top: 5px;
}

.weather-temp{
  height: fit-content;
  margin-top: 65px;
}

.weather-temprange{
  margin-top: -10px;
}