@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.App{
  display: flex;
  /*font-family: 'Plus Jakarta Sans', sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

html, body{
  overflow-y: hidden;
}

/*Navbar styles*/

.navbar{
  text-align: left;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 30px;
  background-color: rgb(0, 0, 0);
  width: min-content;
  height: 94.9vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.navbar > div{
  padding-bottom: 10px;
}

.nav-border{
  background-color: rgba(255, 255, 255, 0.0);
  height: 90vh;
  border-radius: 10px;
  padding: 1px;
}

.nav-border-one{
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding: 2px;
}

.nav-border-top,.nav-border-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.06);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.nav-border-top{
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}

.nav-border-bottom{
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 10px;
  height: 70vh;
}

.nav-border-top:hover{
  cursor: pointer;
}

.home-icon{
  filter: invert(0.6);
}

.weather-icon{
  filter: invert(0.6);
}

.home-icon:hover,.weather-icon:hover{
  filter: invert(0.7);
}

.home-icon:active,.weather-icon:active{
  filter: invert(1);
}





/*Home styles*/

.main{
  display: inline-block;
  background-color: rgb(0, 0, 0);
  width: 100%;
  color: white;
  height: 100vh;
}

.acc-container{
  padding: 15px;
  margin: 10px;
  height: 90vh;
  border-radius: 10px;
  background: rgb(0,0,0);
  background: linear-gradient(344deg, rgb(0,0,0) 0%, rgba(40,146,215,0.8) 100%);
  overflow-y: scroll
}

.film-box{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.film-container > img{
  height: 100px;
}

.film-container{
  border-top: solid;
  border-bottom: solid;
  padding-top: 2px;
}

/*Three styles {N/A}*/


.three-home{
  background: rgb(119,0,255);
  background: linear-gradient(85deg, rgb(81, 0, 173) 0%, rgb(243, 175, 255) 92%);
  height: 250px;
  margin: 10px;
  border-radius: 10px;
}


