body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar{
    background-color: black;
    border-left: solid;
    border-color: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

.nav-bar{
    border-color: red;
    height: 100vh;
    width: 85px;
    background-color: black;
    position: fixed;
    top: 0;
}

.home,.home2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.15);
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 5px;
}

.home{
    aspect-ratio: 1/2;
    margin-top: 0px;
}

.home2{
    height: 75vh;
}

.homeicon{
    display: block;
    width: 80%;
    margin-bottom: 40%;
    margin-left: 10%;
}

.searchicon{
    display: block;
    width: 80%;
    margin-left: 10%;
}


.home > img{
    width: 50%;
    height: 50%;
}

.showcase{
    background: rgb(119,0,255);
    background: linear-gradient(145deg, rgb(81, 0, 173) 0%, rgb(243, 175, 255) 92%);
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 15px;
    height: 250px;
    border-radius: 10px;
    font-size: 50px;
    padding-left: 50px;
    padding-top: 50px;
    font-weight: 700;
}

.overview{
    background-color: rgba(255, 255, 255, 0.15);
    margin-left: 100px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 15px;
    height: 50px;
    color: rgba(255, 255, 255, 0.682);
}

.more{
    width: 68px;
    top: 10px;
    left: 0;
}

.more-pic{
    margin-left: 8px;
    width: 68px;
    height: 32px;
}


@media (min-width:800px) {
    .project{
        width: 750px;
    }
    .project2{
        width: 750px;
    }
    .project3{
        width: 750px;
    }
}

.banner{
    color: white;
    display: flex;
    height: 400px;
    width: 1410px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-bottom: 20px;
    margin-top: 25px;
    border-radius: 10px;
}

.banner > div{
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background: rgb(10,6,19);
    background: linear-gradient(45deg, rgba(10,6,19,1) 0%, rgba(48,30,93,1) 60%, rgba(67,42,130,1) 100%);
}

.btitle{
    padding-left: 20px;
    padding-top: 7px;
    font-size: 30px;
    font-weight: 700;
}

.bpic{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    height: 200px;
    border-radius: 10px;
    background-color: black;
}

.btext{
    padding-left: 22px;
    padding-right: 18px;
    padding-top: 15px;
    font-weight: 400;
}