.nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 0.08;
}

@media screen and (min-width: 900px) {
    .nav{
        flex: 0.065;
    }
}

.sec-1{
    background-color: blue;
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px;
}

.sec-1 > div{
    flex: 1;
    background-color: transparent;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    color: white;
}

.sec-1 > div:hover {
    background-color: rgb(30, 30, 30);
}

.sec-1 > div > {
    background-color: red;
}