body{
    margin: 0;
    padding: 0;
    height: 300vh;
    background-color: rgb(246, 246, 246);
}

nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-left: 135px;
    padding-right: 135px;
    height: 64px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.hsection1{
    width: 376px;
    height: 64px;
    display: flex;
    align-items: center;
}

.hsection1 > div{
    display: inline-block;
}

.leftelem1{
    width: 132px;
}

.leftelem2{
    width: 28px;
}

.leftelem2-2{
    width: 148px;
    font-weight: bold;
}

.leftelem3{
    width: 48px;
    height: 64px;
}

.hsection2{
    flex: 1;
    display: flex;
    height: 64px;
    align-items: center;
}


.hsection2 > div{
    margin-right: 30px;
}

.rightelem1{
    width: 48px;
    border-left: solid;
    border-color: rgb(235, 235, 235);
    padding-left: 8px;
    margin-left: 8px;
}
.rightelem2{
    width: 59.75px;
}
.rightelem3{
    width: 60.63px;
}
.rightelem4{
    width: 78.5px;
}
.rightelem5{
    width: 69.8px;
}
.rightelem6{
    width: 71.4px;
}
.rightelem7{
    width: 74.2px;
}

.rightelem9{
    background-color: rgb(232, 229, 229);
    width: 180px;
    height: 16px;
    padding: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.welcome{
    border-top: solid;
    border-width: 1px;
    border-color: rgb(227, 225, 225);
    font-size: 32px;
    font-weight: bold;
    padding-left: 104px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    height: 64px;
}

.main,.genre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-left: 119px;
    margin-right: 119px;
    margin-top: 20px;
}

.main-content1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#main-content1{
    height: 566px;
}

.main > div{
    background-color: red;
    height: 276px;
}

.main-full{
    grid-column-start: 1;
    grid-column-end: 6;
}

.genre{
    background-color: blue;
    height: 276px;
}