body{
    margin: none;
    padding: none;
}

nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 119px;
    margin-right: 119px;
    height: 64px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.hsection1{
    width: 376px;
    height: 64px;
    display: flex;
    align-items: center;
}

.hsection1 > div{
    display: inline-block;
}

.leftelem1{
    width: 132px;
}

.leftelem2{
    width: 28px;
}

.leftelem2-2{
    width: 148px;
    font-weight: bold;
}

.leftelem3{
    width: 48px;
    height: 64px;
}

.hsection2{
    flex: 1;
    display: flex;
    height: 64px;
    align-items: center;
}


.hsection2 > div{
    margin-right: 30px;
}

.rightelem1{
    width: 48px;
    border-left: solid;
    border-color: rgb(235, 235, 235);
    padding-left: 8px;
    margin-left: 8px;
}
.rightelem2{
    width: 59.75px;
}
.rightelem3{
    width: 60.63px;
}
.rightelem4{
    width: 78.5px;
}
.rightelem5{
    width: 69.8px;
}
.rightelem6{
    width: 71.4px;
}
.rightelem7{
    width: 74.2px;
}

.rightelem9{
    background-color: rgb(232, 229, 229);
    width: 180px;
    height: 16px;
    padding: 12px;
    padding-left: 10px;
    padding-right: 10px;
}